<template>
  <div class="intro">
    <h1 class="year">2021</h1>
    <h3 class="title">
      F1 Fantasy Leaderboard
    </h3>
  </div>
</template>

<script>
export default {
  name: "Intro",
};
</script>

<style scoped>
h1,
h3 {
  font-weight: 400;
  color: #fff;
  margin: 0 5%;
  text-align: center;
}

.year {
  opacity: 0.5;
  font-size: 110px;
}

.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 60px;
}

@media only screen and (min-width: 900px) {
  h1,
  h3 {
    text-align: left;
  }

  .year {
    font-size: 150px;
  }

  .title {
    font-size: 30px;
  }
}
</style>
