<template>
  <section>
    <lottie-animation
      v-show="users.length === 0"
      path="animation/pinjump.json"
      :width="300"
      :height="300"
    />
    <div v-show="users.length > 0" class="leaderboard">
      <ul class="podium">
        <li v-for="(user, index) in users.slice(0, 3)" :key="user.id">
          <User
            :user="user"
            :ranking="index + 1"
            :winnerScore="users[1].total_score"
          />
        </li>
      </ul>
      <ul class="non-podium">
        <li v-for="(user, index) in users.slice(3)" :key="user.id">
          <User
            :user="user"
            :ranking="index + 4"
            :winnerScore="users[1].total_score"
          />
          <div v-if="index < 3" class="border-non-podium"></div>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
import axios from "axios";
import LottieAnimation from "lottie-vuejs/src/LottieAnimation.vue";
import * as animationData from "../../public/animation/pinjump.json";

import User from "./User";

export default {
  name: "Leaderboard",
  components: { User, LottieAnimation },
  data() {
    return {
      users: [],
      index: 0,
      winnerScore: 0,
      defaultOptions: { animationData: animationData },
      animationSpeed: 1,
    };
  },
  async created() {
    const { data } = await axios.get(
      "https://sls-frac-dev-formula1-leaderboard.azurewebsites.net/api/data"
    );
    const sortedUsers = data.sort((a, b) => {
      return b.total_score - a.total_score;
    });
    // The winner will be presented between 2nd and 3rd users on the podium
    const firstUser = sortedUsers.shift();
    sortedUsers.splice(1, 0, firstUser);
    this.users = sortedUsers;
  },
  methods: {
    handleAnimation: function (anim) {
      this.anim = anim;
    },
  },
};
</script>

<style scoped>
.leaderboard {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 5px;
  width: 100%;
}

ul {
  display: grid;
  list-style-type: none;
  padding: 0;
  background-color: rgba(107, 107, 107, 0.2);
  padding: 5px 15px;
  margin: 0;
  width: 100%;
  /* min-width: 370px; */
}

ul.podium {
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 280px; */
  grid-template-rows: 1fr;
}

ul.non-podium {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 15px 0;
}

.border-non-podium {
  border-bottom: 1px solid #cecece;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .leaderboard {
    width: 40%;
    position: absolute;
    right: 10%;
    top: 5vh;
    bottom: 5vh;
    max-width: 490px;
  }
}
</style>
