<template>
  <section class="container" :class="podiumClasses">
    <div class="user-ranking">
      <div class="avatar" :style="avatar"></div>
      <div :class="avatarClasses">
        {{ ranking === 1 ? 2 : ranking === 2 ? 1 : ranking }}
      </div>
    </div>
    <div>
      <div class="username">{{ user.username }}</div>
      <div class="score">{{ user.total_score }} pts</div>
    </div>
    <div class="score-difference" v-if="ranking !== 2">
      - {{ winnerScore - user.total_score }} pts
      <div>from leader</div>
    </div>
  </section>
</template>

<script>
export default {
  name: "User",
  props: {
    user: { type: Object },
    ranking: { type: Number },
    winnerScore: { type: Number },
  },
  computed: {
    avatar() {
      return {
        backgroundImage: `url(${this.url})`,
      };
    },
    url() {
      return require(`../assets/${this.user.username.toLowerCase()}.jpg`);
    },
    podiumClasses() {
      return `top-${this.ranking}`;
    },
    avatarClasses() {
      return this.ranking > 3 ? "ranking" : "top-ranking";
    },
  },
};
</script>

<style scoped>
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  padding: 15px;
  justify-items: center;
  align-items: center;
  color: #fff;
}

.top-1,
.top-2,
.top-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 50px 20px;
  margin-top: 30px;
  text-align: center;
}

.top-2 {
  margin: 0;
}

.top-ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #f7a700;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

ul.podium > li:nth-child(2) > section > div.user-ranking > div.avatar {
  width: 100px;
  height: 100px;
}

ul.podium > li:nth-child(1) > section > div.user-ranking > div.avatar,
ul.podium > li:nth-child(3) > section > div.user-ranking > div.avatar {
  width: 80px;
  height: 80px;
}

ul.podium > li:nth-child(1) > section > div.score-difference,
ul.podium > li:nth-child(3) > section > div.score-difference {
  justify-self: center;
}

.user-ranking {
  display: flex;
  align-items: center;
  position: relative;
}

.ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -20px;
  color: #9c9c9c;
}

.avatar {
  background-size: cover;
  overflow: hidden;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.username {
  font-weight: 500;
  font-size: 20px;
}

.score {
  font-weight: 300;
  font-size: 16px;
  color: #9c9c9c;
}

.score-difference {
  font-weight: 500;
  font-size: 14px;
  color: #cc0000;
  justify-self: flex-end;
}

.score-difference > div {
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  color: #9c9c9c;
}
</style>
