<template>
  <section>
    <Intro />
    <Leaderboard />
  </section>
</template>

<script>
import Intro from "./components/Intro.vue";
import Leaderboard from "./components/Leaderboard.vue";

export default {
  name: "App",
  components: {
    Intro,
    Leaderboard,
  },
};
</script>

<style>
body {
  font-family: "Roboto", sans-serif;
  background-color: #282828;
  background-size: cover;
  height: 100vh;
}

@media only screen and (min-width: 900px) {
  body {
    background: url("~@/assets/f1-bg-4.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
}
</style>
